/* https://google-webfonts-helper.herokuapp.comfonts */

/* rubik-regular - latin */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/rubik-v9-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Rubik'), local('Rubik-Regular'),
		 url('fonts/rubik-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/rubik-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/rubik-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('fonts/rubik-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/rubik-v9-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}
  /* rubik-italic - latin */
@font-face {
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/rubik-v9-latin-italic.eot'); /* IE9 Compat Modes */
	src: local('Rubik Italic'), local('Rubik-Italic'),
		 url('fonts/rubik-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/rubik-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/rubik-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
		 url('fonts/rubik-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/rubik-v9-latin-italic.svg#Rubik') format('svg'); /* Legacy iOS */
}
  /* rubik-500 - latin */
@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	src: url('fonts/rubik-v9-latin-500.eot'); /* IE9 Compat Modes */
	src: local('Rubik Medium'), local('Rubik-Medium'),
		 url('fonts/rubik-v9-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/rubik-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/rubik-v9-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('fonts/rubik-v9-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/rubik-v9-latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Rubik', sans-serif;
	margin: auto;
	color: gray;
	background-color: lightgray;
}

#app > .container {
	white-space: nowrap;
}

.digit {
	font-size: 20vw;
	display: inline-block;
	color: darkred;
	letter-spacing: -1vw;
}

#ampm, #tz {
	display: inline-block;
}

#ampm {
	font-size: 3.5vw;
}

#tz {
    text-transform: lowercase;
    text-align: center;
    width: 100%;
	line-height: 1.1;
	font-size: calc(12px + 2vw);
}

#tz > small {
	font-style: italic;
}

@media only screen and (max-width: 500px) {
	#tz {
		display: none;
	}
}

#sep {
	position: relative;
    top: -2vw;
}

.pm {
	position: relative;
	top: 2vw;
	font-size: 10vw;
	color: darkred;
}

.am {
	color: #BBB;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

@keyframes fadeOutIn {
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes fadeOutIn {
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes fadeOutIn {
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes fadeOutIn {
	0%   { opacity:1; }
	50%  { opacity:0; }
	100% { opacity:1; }
}
.pulse {
	-webkit-animation: fadeOutIn 1s infinite;
	-moz-animation: fadeOutIn 1s infinite;
	-o-animation: fadeOutIn 1s infinite;
	animation: fadeOutIn 1s infinite;
}
.still {
	opacity: 1;
	animation: unset;
}